/lib
node_modules
.DS_store
.env*
/*.js
!index.js
yarn.lock
package-lock.json
apis
auth
http
models
types
.gitignore
.eslintrc
.babelrc
.prettierrc
build
.cache
.yarn
uploads
tsconfig.**
.vscode
.github
*.md
/*.ts
.openapi-*
*.sh